{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-eol-whitespace": null,
    "rule-empty-line-before": null,
    "declaration-empty-line-before": null,
    "declaration-colon-newline-after": null,
    "indentation": null
  }
}
