@import "common/variables";
// Import npm dependencies
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";
// Import theme styles
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

@font-face {
  font-family: 'texgyreadventorregular';
  src: url('../fonts/texgyreadventor-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
