// Variables
$navBarHeightMobile: 48px;
$mainNavBackgroundOpacity: 0.4;

// Colors
$brand-primary: #ed1c24;
$brand-secondary: #f8df89;
$body-text: rgba(0, 0, 0, 0.91);
$lighter-text: rgba(0, 0, 0, 0.5);
$fa-font-path: '~font-awesome/fonts';
$bg-grey: #bec0c3;
